<div id="footer" class="container-fluid text-body footer fixed-bottom mt-5 pt-1 px-0" style="padding-bottom: 0">
  <div class="container-fluid copyright">
      <div class="row pb-5 text-center">
        <div class="col-md-6 p-poppins-200">
          © <%= DateTime.now.year %> by JRENO INC.
        </div>
        <div class="col-md-6 ">
            <a class="btn btn-square btn-outline-body" href="https://www.facebook.com/jreno.ca/"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-body" href="https://www.linkedin.com/company/jreno"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-square btn-outline-body" href="https://www.linkedin.com/company/jreno"><i class="fab fa-youtube"></i></a>

            <a class="btn btn-square btn-outline-body" href="https://www.linkedin.com/company/jreno"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
  </div>
</div>

<style media="screen">

  .btn-outline-body {
    color: #B98F67;
    border-color: #777777;
  }

</style>
