<!-- Navbar Start -->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
  <a href="#" class="navbar-brand">
    <img height="50" class="m-0 display-4" src=<%=asset_path("logo.png")%> />
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <div class="navbar-nav  py-0">
      <a href="#" class="nav-item nav-link active">About Us</a>
      <a href="#" class="nav-item nav-link">Responsiblity</a>
      <a href="#" class="nav-item nav-link">Media</a>

      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          Our Businesses
        </a>
        <div class="dropdown-menu m-0">
          <a href="#" class="dropdown-item">Management</a>
          <a href="#" class="dropdown-item">Construction</a>
          <a href="#" class="dropdown-item">Renovation</a>
          <a href="#" class="dropdown-item">Maintenance</a>
        </div>
      </div>
      <a href="#" class="nav-item nav-link">Contact us</a>

    </div>

    <div class="navbar-nav ms-auto py-0">
      <a href="#" class="nav-item nav-link active">Login</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          Language
        </a>
        <div class="dropdown-menu m-0">
          <a href="#" class="dropdown-item">English</a>
          <a href="#" class="dropdown-item">French</a>
        </div>
      </div>

    </div>
  </div>
</nav>

<style media="screen">

  .navbar {
    background: none; !important
  }
  navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 30px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
  }
  .nav-link{
    text-transform: uppercase
  }

  .bg-nav {
    background-color: #e8ebe1 !important;
  }

</style>
