<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5pe-lg-0">

  <nav class="navbar navbar-expand-lg bg-dark bg-light  navbar-dark py-3 py-lg-0">

    <a href="#" class="navbar-brand">
      <img height="50" class="m-0 display-4" src=<%=asset_path("logo.png")%> />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <div class="navbar-nav  py-0">
        <a href="#" class="nav-item nav-link active">About Us</a>
        <a href="#" class="nav-item nav-link">Responsiblity</a>
        <a href="#" class="nav-item nav-link">Media</a>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Our Businesses
          </a>
          <div class="dropdown-menu m-0">
            <a href="#" class="dropdown-item">Management</a>
            <a href="#" class="dropdown-item">Construction</a>
            <a href="#" class="dropdown-item">Renovation</a>
            <a href="#" class="dropdown-item">Maintenance</a>
          </div>
        </div>
        <a href="#" class="nav-item nav-link">Contact us</a>

      </div>

      <div class="navbar-nav ms-auto py-0">
        <a href="#" class="nav-item nav-link active">Login</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Language
          </a>
          <div class="dropdown-menu m-0">
            <a href="#" class="dropdown-item">English</a>
            <a href="#" class="dropdown-item">French</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>

<style media="screen">

  .navbar {
    background: none; !important
  }

</style>
