<div class="row">
  <div class="col" style="padding-left: 160px; padding-right: 0px; padding-top: 100px">
      <h1 class="p-bold" style="font-size: 60px;">Construction</h1>
      <p class="p-poppins-200" style="font-weight: bold; font-size: 22px; margin-right: 70px">Join the Program and Rediscover <br>Your Confidence</p>
      <br><br><br>
      <div class="col-6">
        <h4 style="font-weight: bold">General Contractor</h4>
        <p class="p-poppins">
           Hire a general contractor to take care of various aspects of the work and make sure the project is delivered on time.
        </p>
        <br><br><br>
        <h4 style="font-weight: bold">Construction Management</h4>
        <p class="p-poppins">Our Construction Management team will act on behalf of the Client for a set fee. The objective is to coordinate the different processes according to the Client’s pre-set schedule for timely project completion.</p>
      </div>

  </div>

  <div class="col  col-xs- construction-contact-us-background">
    <div class="image-container">
      <img  src="<%= asset_path('WoodenHouse.jpeg') %>" alt="" >
    </div>
    <div class="centered ">
    <div class="container" style="display: flex;">
        <%= render "pages/partials/contact_white" %>
      </div>
    </div>


  </div>

</div>

<style media="screen">
  .construction-contact-us-background{
    background-color: #e0e0e0;
  }
  .image-container {
    padding-left: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

   .centered {
      position: absolute;
      top: 25%;
      padding-left: 200px;
      padding-right: 180px;


    }
</style>
