
<header>
  <div class="
  carousel-caption
  d-flex
  flex-column
  align-items-center
  justify-content-center
  ">
  <div class="p-3" style="max-width: 900px">
    <i class="fa fa-tools fa-4x text-primary mb-4 d-none d-sm-block"></i>
    <h1 class="display-2 text-uppercase text-white mb-md-4">
      We Are Trusted For Your Project
    </h1>
    <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Contact Us</a>
  </div>
</div>

</header>

<aside class="figures">
  <div class="container">
    <div class="row justify-content-center stats">
      <div class="col-12 col-lg-10 figure centered pb-3">
        <h2>JRÉNO's team is professional at residential renovation. We have enough expertise to provide high quality services, competitive prices, and excellent customer service</h2>
      </div>
      <br> <br>
      <div class="col-md-4 col-lg-3">
        <div class="figure centered">
          <div class="figure-wrap">
            <span class="stat">$65B</span>
            <span class="desc">ASSETS UNDER MANAGEMENT </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="figure centered">
          <div class="figure-wrap">
            <span class="stat">3,200</span>
            <span class="desc">OPERATING EMPLOYEES</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="figure centered">
          <div class="figure-wrap">
            <span class="stat">6,003</span>
            <span class="desc">POWER GENERATING FACILITIES</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>

<div class="container-xxl py-5">
  <div class="container pt-5">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="fact-item text-center bg-light h-100 p-5 pt-0">
          <div class="fact-icon">
            <img src="https://technext.github.io/arkitektur/img/icons/icon-4.png" alt="Icon">
          </div>
          <h3 class="mb-3">Renovation</h3>
          <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="fact-item text-center bg-light h-100 p-5 pt-0">
          <div class="fact-icon">
            <img src="https://technext.github.io/arkitektur/img/icons/icon-2.png" alt="Icon">
          </div>
          <h3 class="mb-3">Remodling</h3>
          <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="fact-item text-center bg-light h-100 p-5 pt-0">
          <div class="fact-icon">
            <img src="https://technext.github.io/arkitektur/img/icons/icon-10.png" alt="Icon">
          </div>
          <h3 class="mb-3">Painting</h3>
          <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-5">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <br><br>
      <div class="about-img mt-5">
        <img  class="img-fluid" src="https://i.ibb.co/0nh9c41/a1-6.png" alt="">
      </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <h4 class="section-title">About Us</h4>
      <h1 class="display-5 mb-4">A Creative Construction Company For Your Dream Home Project</h1>

      <p>
        Wether you are a person OR company we have the power to carry out your most ambitious projects. JRÉNO's Team take initial planning in charge, set timelines for your project, and handle cost management whilst ensuring compliance with construction regulations at all times.  </p>
        <p class="mb-4">Therefore, we supervise subcontractors and suppliers to make sure the project meets our customer’s expectactions.     </p>
        <div class="d-flex align-items-center mb-5">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
            <h1 class="display-1 mb-n2" data-toggle="counter-up">25</h1>
          </div>
          <div class="ps-4">
            <h3>Years</h3>
            <h3>Working</h3>
            <h3 class="mb-0">Experience</h3>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5" href="">Read More</a>
      </div>
    </div>
  </div>

  <br><br>
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h4 class="section-title">Our Services</h4>
      <h1 class="display-5 mb-4">We Focused On Modern Architecture And Interior Design</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="#" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-5.png" alt="Icon">
            <h3 class="mb-3">Building Construction</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="#" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-6.png" alt="Icon">
            <h3 class="mb-3">House Renovation</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="#" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-7.png" alt="Icon">
            <h3 class="mb-3">Architecture Design</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="#" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-8.png" alt="Icon">
            <h3 class="mb-3">Interior Design</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="img/service-5.jpg" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-9.png" alt="Icon">
            <h3 class="mb-3">Fixing & Support</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="img/service-6.jpg" alt="">
          <div class="service-text p-5">
            <img class="mb-4" src="https://technext.github.io/arkitektur/img/icons/icon-10.png" alt="Icon">
            <h3 class="mb-3">Painting</h3>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <h4 class="section-title">Why Choose Us!</h4>
        <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <div class="row g-4">
          <div class="col-12">
            <div class="d-flex align-items-start">
              <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-2.png" alt="Icon">
              <div class="ms-4">
                <h3>Design Approach</h3>
                <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-3.png" alt="Icon">
              <div class="ms-4">
                <h3>Innovative Solutions</h3>
                <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-4.png" alt="Icon">
              <div class="ms-4">
                <h3>Project Management</h3>
                <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <br>
        <div class="feature-img mt-5">
          <img class="img-fluid" src="https://i.ibb.co/1m8BWSS/p2.png" alt="">

        </div>
      </div>
    </div>
  </div>
  <br><br> <br><br>


  <!-- Testimonial Start -->
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h4 class="section-title">Testimonial</h4>
      <h1 class="display-5 mb-4">  What Our <span class="text-primary">Happy Cleints</span> Say!!!</h1>
    </div>
    <div class="row gx-0 align-items-center">
      <div class="col-xl-4 col-lg-5 d-none d-lg-block">
        <img class="img-fluid w-100 h-100" src="https://technext.github.io/webuild/img/testimonial.jpg" />
      </div>
      <div class="col-xl-8 col-lg-7 col-md-12">
        <div class="testimonial bg-light">
          <div class="owl-carousel testimonial-carousel">
            <div class="row gx-4 align-items-center">
              <div class="col-xl-4 col-lg-5 col-md-5">
                <img
                class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0"
                src="https://technext.github.io/webuild/img/testimonial.jpg"
                alt=""
                />
              </div>
              <div class="col-xl-8 col-lg-7 col-md-7">
                <h4 class="text-uppercase mb-0">Client Name</h4>
                <p>Profession</p>
                <p class="fs-5 mb-0">
                  <i class="fa fa-2x fa-quote-left text-primary me-2"></i>
                  Dolores sed duo clita tempor justo dolor et stet lorem kasd
                  labore dolore lorem ipsum. At lorem lorem magna ut labore et
                  tempor diam tempor erat. Erat dolor rebum sit ipsum.
                </p>
              </div>
            </div>
            <div class="row gx-4 align-items-center">
              <div class="col-xl-4 col-lg-5 col-md-5">
                <img
                class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0"
                src="https://technext.github.io/webuild/img/testimonial-2.jpg"
                alt=""
                />
              </div>
              <div class="col-xl-8 col-lg-7 col-md-7">
                <h4 class="text-uppercase mb-0">Client Name</h4>
                <p>Profession</p>
                <p class="fs-5 mb-0">
                  <i class="fa fa-2x fa-quote-left text-primary me-2"></i>
                  Dolores sed duo clita tempor justo dolor et stet lorem kasd
                  labore dolore lorem ipsum. At lorem lorem magna ut labore et
                  tempor diam tempor erat. Erat dolor rebum sit ipsum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
  <br><br><br><br><br>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <h4 class="section-title">Request a call back</h4>
        <h1 class="display-5 mb-4">Make An Appointment To Start Your Dream Project</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <div class="row g-4">
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                <i class="fa fa-2x fa-phone-alt text-primary"></i>
              </div>
              <div class="ms-4">
                <p class="mb-2">Call Us Now</p>
                <h3 class="mb-0">+012 345 6789</h3>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                <i class="fa fa-2x fa-envelope-open text-primary"></i>
              </div>
              <div class="ms-4">
                <p class="mb-2">Mail Us Now</p>
                <h3 class="mb-0">info@example.com</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="row g-3">
          <div class="col-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Your Name" style="height: 55px;">
          </div>
          <div class="col-12 col-sm-6">
            <input type="email" class="form-control" placeholder="Your Email" style="height: 55px;">
          </div>
          <div class="col-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Your Mobile" style="height: 55px;">
          </div>
          <div class="col-12 col-sm-6">
            <select class="form-select" style="height: 55px;">
              <option selected="">Choose Service</option>
              <option value="1">Service 1</option>
              <option value="2">Service 2</option>
              <option value="3">Service 3</option>
            </select>
          </div>
          <div class="col-12 col-sm-6">
            <div class="date" id="date" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="time" id="time" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
            </div>
          </div>
          <div class="col-12">
            <textarea class="form-control" rows="5" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>


  <style media="screen">
    header {
      height:250px;
      min-height:900px;
      background-size: cover;
      background-image:url('https://storage.googleapis.com/wzukusers/user-500011/images/55b104e1d5aadkd1X0Do/21580842_lel.jpg');
    }

    .hidden-spacer {
      height: 56px
    }

    aside.figures {
      background: #f4f5f0

    }

    aside.figures .container {
      min-height: 270px;
      padding-bottom: 80px;
      padding-top: 63px;
    }

    .figure {
      position: relative;
    }
    .figure span.stat {
      font-family: Playfair Display,serif;
      font-size: 2.2rem;
      line-height: 1em;
      padding-bottom: 15px;
    }

    .figure span {
      color: #0f3557;
      display: block;
    }

    .figure.centered span, .figure.inline-figure span {
      text-align: center;
    }

    .stats {
      text-align: center;
    }
    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .about-img, .feature-img {
      position: relative;
      height: 100%;
      min-height: 400px;
    }


    .h4, h4 {
      font-size: 1.5rem;
    }
    .display-2 {
      font-size: 4.5rem;
    }
    .display-2 {
      font-size: calc(1.575rem + 3.9vw);
      font-weight: 700;
      line-height: 1.2;
    }

    .text-white {
      color: #000000 !important;
    }

    .section-title {
      color: #B78D65;
      font-weight: 600;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

  </style>

  <script type="text/javascript">
    // Testimonials carousel
    $(".testimonial-carousel").owlCarousel({
      autoplay: true,
      smartSpeed: 1000,
      items: 1,
      dots: false,
      loop: true,
    });

  </script>
