<!-- <div class="row">
  <div class="p-5 bg-light text-center" style="background-image: url(<%#= asset_path('maintenance_main.jpeg')%>); background-repeat: no-repeat; height: 70vh; opacity: 0.6; background-size: cover">
    <div class=" py-5">
      <h1 class="display-5 fw-bold p-bold" style="font-size: 60px">Maintenance</h1>
      <button class="btn btn-danger btn-sm" type="button">I'am a member? sign in  </button>
    </div>
  </div>
</div> -->

<div class="bg-light rounded-3" style="background-image: url(<%= asset_path('maintenance_main.jpeg')%>); background-repeat: no-repeat; height: 60vh; opacity: 0.95; z-index: -9">
  <div class="container" height: 90% ; display: flex; align-items: center">
    <div class="p-5 text-center">
      <h1 class="p-poppins" style="font-weight: bold " >Maintenance</h1>
      <a href="/pages/contactpage"> <button class="btn btn-danger btn-sm" type="button">I'am a member? sign in  </button> </a>

    </div>

  </div>
</div>


<div class="row"  style="background-color: #dbdbdb" >
  <div class="col-lg-1 col-xs-12">

  </div>
  <div class="col-lg-5 col-xs-12" >
    <div class="card">
      <div class="card-body" style="padding: 12% 20% 85px ">
        <h4 class="card-title p-bold">Is it <i style="color: red"> URGENT </i> <br> Maintenance?</h4> <br><br>
        <p class="card-text">
          The JRÉNO rapid response teams are on call 24 hours a day and we aim to respond to all reactive property maintenance calls within 4 hours
        </p><br>
        <a href="tel:4384884100" class="btn btn-danger">Call us now</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">

  </div>

  <div class="col-lg-5 col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-body" style="padding: 12% 20% 85px ">
        <h4 class="card-title p-bold">Is it <i style="color: #dad138">REGULAR</i> Maintenance?</h4> <br><br>
        <p class="card-text">
          Building maintenance services includes inspecting, cleaning, and providing minor repair services to buildings.
        </p> <br>
        <a href="tel:4384884100" class="btn btn-danger">Call us now</a>
      </div>
    </div>
  </div>
</div>




<div class="row text-center">
  <div class="">
    <br><br><br>
    <h2 class="p-bold">
      Go with <i style="color: #508f32"> PREVENTIVE </i> Maintenance!
    </h2> <br><br>
    <p style="padding: 10px 30%">
      We provide you with the planning and
      scheduling maintenance before a problem occurs.
      We keep records of  past inspections and the servicing
    </p>
  </div>


  <div class="row" style="padding-top: 120px">
    <div class="col-12">
      <h2 class="p-bold"> There are three level of preventive maintenance plans</h2>
    </div>

    <div class="d-flex justify-content-center bd-highlight mt-5">
      <div class="p-2 bd-highligh" >
        <h5> <b> Basic </b> </h5>
        <p style="padding: 20px 30%">
          You can easily add your own content to this paragraph. Click on “Edit Text” or double click the Text Box to make it your own.
        </p>
      </div>
      <div class="p-2 bd-highlight" >
        <h5> <b> Standard</b></h5>
        <p  style="padding: 20px 30%">
        You can easily add your own content to this paragraph. Click on “Edit Text” or double click the Text Box to make it your own.</p>
      </div>
      <div class="p-2 bd-highlight" >
        <h5> <b> Premium</b></h5>
        <p  style="padding: 20px 30%;">You can easily add your own content to this paragraph. Click on “Edit Text” or double click the Text Box to make it your own.</p>
      </div>
    </div>

  </div>

  <div class="row" style="background-color: black; font-color: white; height: 320px">
    <div  class="text-center ">
      <h2 class="p-poppins" style="color: white; padding-top: 5%; font-weight: bold">
        Please contact us to sign up to any of these plans
      </h2>
      <br>
      <a class="btn btn-light" href="/pages/contactpage">Contact us</a>

    </div>
  </div>


</div>
