<div class="row">
  <div class="col-sm-12">
    <img src="<%= asset_path('renovation_main.jpeg') %>" alt=""  class="img-fluid">
    <div class="heroContent">
      <div style="margin-left: 100px; margin-top: 40px">
        <h1 class="p-bold" style="font-size: 60px">Renovation</h1><br><br>
        <p class="pHero p-poppins-200" style="padding-right:220px">
          Depending on the desired features, your new interior space must have an inviting atmosphere and perfectly fit your lifestyle.
          The JRENO team supports you throughout the planning of the space, the colours and the choice of materials to create a space that perfectly meets your needs and tastes.
        </p>
      </div>

    </div>
  </div>
</div>




<style media="screen">
  .container {
    max-width:1424px;
  }
  .heroContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(245, 245, 245, 0.75);
    height: 46%;
    opacity: 0.92;

  }

</style>
