<% if image_url %>
<div class="card">
  <img src="<%= asset_path(image_url)%>" alt="">
</div>
<% else %>
<div class="card" style="opacity:0.85; background-color:  #BCDEE4 ;">
  <div class="card-body text-center" style="display: flex; align-items: center; justify-content: center; flex-direction: column">
    <h5 class="card-title p-poppins" style="font-weight: bold"> <%= card_title  %></h5>
    <br><br>
    <p class="card-text"> <%= card_text %></p>
  </div>

</div>
<% end %>
