
<div class="row text-center" style="padding-top: 100px;">
  <h1 style="font-size: 65px" class="p-bold">Basements</h1>
  <p>Nothing beats a finished basement as one of the most cost-effective ways of adding value to your home</p>
</div>


<%= render 'pages/partials/pics', pictures: @pictures %>
