<div class="container-fluid py-6 px-5">
  <br>
  <div class="mt-3">
    <%= link_to 'New Photo', new_picture_path(type: "bathrooms"), class: "btn btn-secondary float-md-end" %>
  </div>
</div>
<div class="row text-center" style="padding-top: 100px;">
  <h1 style="font-size: 65px" class="p-bold">Bathrooms</h1>
  <p>A quality bathrooms renovation will be an inevitable result by JRENO.</p>
</div>


<%= render 'pages/partials/pics', pictures: @pictures %>
