
<div class="row text-center" style="padding-top: 100px;">
  <h1 style="font-size: 65px" class="p-bold">Exteriors</h1>
  <p>Our team of in-house designers and exterior contractors work together with you to bring your vision to life.</p>
</div>


<%= render 'pages/partials/pics', pictures: @pictures %>
