<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
  <h4 class="section-title">Testimonial</h4>
  <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
</div>
<div class="row g-2">
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">...</h5> <span></span>
        <p>
          Magnifique travail ! Je suis ravie, tout s'est passé à merveille ! Le travail avait un bon rapport qualité/prix et a été réalisé avec le souci du travail bien fait et des détails. Je n'aurais pu espérer mieux, je reprendrai définitivement JRéno pour mes autres projets !!

        </p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">...</h5> <span></span>
        <p>
    Very good service overall. Very dependable & friendly workers and professional services. We were very inexperienced in renovation especially for a kitchen and bathroom and they provided us with better solutions for most things and the results were beyond expectations. Highly recommend.
         </p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">...</h5> <span></span>
        <p>
          The contractor from J. Reno was excellent. Very responsive and extremely professional. They take a lot of pride in their work and kept me up to date on all the little details I would not have know/thought of. I will definitely hire them again for other work.
        </p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
</div>
