<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
  <h4 class="section-title">Testimonial</h4>
  <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
</div>
<div class="row g-2">
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">Bruce Hardy</h5> <span>Software Developer</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">Mark Smith</h5> <span>Web Developer</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center px-4">
      <div class="user-image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/925px-Unknown_person.jpg" class="rounded-circle" width="80"> </div>
      <div class="user-content">
        <h5 class="mb-0">Veera Duncan</h5> <span>Software Architect</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
    </div>
  </div>
</div>
