<div style="margin-top: 80px; margin-bottom: 130px">
  <div class="row ">
    <h1 class="display-5 d-flex justify-content-center">Satisfied Customers</h1>
  </div>
  <div class="row text-center " style="padding-top: 80px">
    <div class="display-9 col">
      <div style="margin-bottom: 60px">
        <img src = "<%= asset_path('testimonial_icon.svg') %>" alt="My Happy SVG"/>
      </div>
      <p>
        "Magnifique travail ! Je suis ravie, tout s'est passé à merveille ! Le travail avait un bon rapport qualité/prix et a été réalisé avec le souci du travail bien fait et des détails. Je n'aurais pu espérer mieux, je reprendrai définitivement JRéno pour mes autres projets !!"
      </p>
    </div>
    <div class="display-9  col">
      <div style="margin-bottom: 60px">
        <img src = "<%= asset_path('testimonial_icon.svg') %>" alt="My Happy SVG"/>
      </div>
      <p>
        "Very good service overall. Very dependable & friendly workers and professional services. We were very inexperienced in renovation especially for a kitchen and bathroom and they provided us with better solutions for most things and the results were beyond expectations. Highly recommend."
      </p>
    </div>
    <div class="display-9  col">
      <div style="margin-bottom: 60px">
        <img src = "<%= asset_path('testimonial_icon.svg') %>" alt="My Happy SVG"/>
      </div>
      <p>
        "The contractor from J. Reno was excellent. Very responsive and extremely professional. They take a lot of pride in their work and kept me up to date on all the little details I would not have know/thought of. I will definitely hire them again for other work.""

      </p>
    </div>
  </div>
</div>


<style media="screen">
  .display-9{
    padding-left: 100px;
    padding-right: 100px;
  }
</style>
