<br>
<div class="container-fluid ">
  <br>
  <div class="text-center">
    <h1 class="mb-3"><b>Gallery</b></h1>
  </div>
  <div class="mt">
    <%= link_to '+ New Photo', new_picture_path(type: "kitchens"), class: "btn btn-secondary float-md-end" %>
  </div>
</div>


<div id="pictures-collection-container" class="">
  <%= render 'pictures/partials/pictures'%>
</div>


<style media="screen">
  /* Demo Margin */


  /* This may not be needed depending on if you want to restrict the card size*/
  .card-size-380{
    max-width: 380px;
  }
  .card-body-height-210 {
    max-height: 210px;
    min-height: 210px;
  }

  .card-image-wrapper {
    display: flex;
    width: 100%;
    height: 250px;
    /* Just to show the size of the image wrapper */
    background-color: darkgrey;
  }

  .card-img-top {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
  }
</style>
