<div class="row">
<%= render "services/partials/service_component", title: "CONSTRUCTION", path: 'home_page_construction.jpg', _url: "pages/construction" %>
<%= render "services/partials/service_component", title: "RENOVATION", path: 'home_page_renovation.jpg', _url: "pages/renovation" %>
<%= render "services/partials/service_component", title: "MAINTENANCE", path: 'home_page_maintenance.jpg', _url: "pages/maintenance" %>
</div>
