<div class="row">

<%= render "services/partials/service_component", title: "CONSTRUCTION", path: 'home_page_construction.jpeg', _url: "pages/construction" %>
<%= render "services/partials/service_component", title: "RENOVATION", path: 'home_page_maintenance.jpeg', _url: "pages/construction" %>
<%= render "services/partials/service_component", title: "MAINTENANCE", path: 'home_page_renovation.jpeg', _url: "pages/construction" %>
</div>
